@media only screen and (max-width: 992px){
    .wrapper {
        width: 750px;
        margin: 10px auto;
    }
    .header {
        height: 80px;
        background: #eba38d;
    }
    .sideLeft {
        background: #cccccc;
    }
    .content {
        background: #f0f1ef;
    }
    .footer {
         background: #e6e4e4;
         height: 55px;        
    }

}
/*small Devices*/
@media only screen and (max-width: 768px){
    .wrapper {
        width: 450px;
        margin: 10px auto;
    }
    .header {
        background: #82884f;
        height: 80 px;
    }
    .sideLeft { 
        background: #36c7c7;
        width: 100%;
        margin-top: 4;
        float: none;

    }
    .content {
        background: #f0f1ef;
        float: none;
        width: 100%;

    }
    .footer {
         background: #78a38f;
         height: 50px;        
    }

}
/*small Devices*/
@media only screen and (max-width: 480px){
    .wrapper {
        width: 320px;
        margin: 0px auto;

    }
    .header {
        background: #a10d02;
        height: 45px;
        width: 100%;
    }
    .sideLeft { 
        background: #470a0ad7;
        width: 100%;
        float: none;
    }
    .content {
        background: #f0f1ef;
        width: 100%;
    }
    .footer {
         background: #aa5050;
         height: 40px;
         width: 100%;        
    }

}*